@use "themes";
@use "utils";

//$primary-hue: #ff00b9;
//$primary-hue: #40ff00;
$primary-hue: #0095ff;

// Theme
:root {
  &.theme-dark {
    @include themes.themeDark($primary-hue);
  }
  &.theme-light {
    @include themes.themeLight($primary-hue);
  }
  @include themes.themeDark($primary-hue);
  background-color: var(--col-background, #111);
  color: var(--col-foreground, #eee);
}
@media (prefers-color-scheme: light) {
  :root {
    @include themes.themeLight($primary-hue);
  }
}

// Global styles
:root {
  // TODO use a good embedded font
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  margin: 0;
  padding-top: 10vh;
  @include utils.flex(column, $wrap: false, $justify: center, $align: stretch);
  text-align: center;
}
input, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  background-color: var(--col-frame1-bg, #111);
  border-radius: 8px;
  border: 1px solid transparent;
  //border: none;
  padding: 0.6em 1.2em;
}
button:not([disabled]), {
  cursor: pointer;
}
